<!-- Cart Nav -->
<a href="/cart.html" class="group fixed right-0 top-0 z-40 h-full flex justify-center items-center w-9" aria-label="View your shopping cart">
    <div id="cart-content" class="flex gap-2 items-center justify-center text-xs uppercase tracking-wider mono text-white group-hover:text-gray-200 transition-colors duration-300 ease-in-out">
        <div aria-hidden="true" class="h-12 w-px bg-gray-700 group-hover:bg-gray-300 transition-colors duration-300 ease-in-out"></div>
        <span class="sr-only">Shopping Cart</span>
        <span aria-hidden="true">Cart</span>
        <div aria-hidden="true" class="h-12 w-px bg-gray-700 group-hover:bg-gray-300 transition-colors duration-300 ease-in-out"></div>
        <span class="sr-only">Items in cart:</span><span id="cartCount" aria-live="polite">0</span>
    </div>
</a>